{% extends 'magariPredictor/base2.html' %}
{% block title %}Car Details{% endblock %}
{% block content  %}

<div class='container mb-6 mt-2 p-4'>

    <div class='row'>
        <div class='col-md-8'>
                        <form action="predict">

                        {% csrf_token %}]

                        <div class="row">
                            <div class="col-md-6">

                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Make" class="form-label" style="color: black;"><b>Make</b></label>
                                        <select id="Make" name="Make" class="form-control" style="font-size: large;" required>
                                            {% for key, value in showmake.items %}
                                                <option value="{{ value }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Model" class="form-label" style="color: black;"><b>Model</b></label>
                                        <select id="Model" name="Model", class="form-control" style="font-size: large;" required>                                        
                                            {% for key, value in showmodel.items %}
                                                <option value="{{ value }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Mileage" class="form-label" style="color: black;"><b>Mileage</b></label>
                                        <input type="number" class="form-control" name="Mileage" id="Mileage" style="font-size: large;" required>
                                    </div>


                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Engine_Size" class="form-label" style="color: black;"><b>Engine_Size</b></label>
                                        <input type="number" class="form-control" name="Engine_Size" id="Engine_Size" style="font-size: large;" required>
                                    </div>



                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Fuel_Type" class="form-label" style="color: black;"><b>Fuel_Type</b></label>
                                        <select id="Fuel_Type" name="Fuel_Type" class="form-control" style="font-size: large; padding: 4px;" required>
                                            <option value="0">Petrol</option>
                                            <option value="1">Diesel</option>
                                        </select>
                                    </div>


                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Transmission" class="form-label" style="color: black;"><b>Transmission</b></label>
                                        <select id="Transmission" name="Transmission" class="form-control" style="font-size: large; padding: 4px;" required>
                                            <option value="1">Automatic</option>
                                            <option value="0">Manual</option>
                                        </select>
                                    </div>


                                    <div class="mb-3" style="padding: 20px; font-size: larger;">
                                        <label for="Age" class="form-label" style="color: black;"><b>Age</b></label>
                                        <input type="number" class="form-control" name="Age" id="Age" style="font-size: large;" required  >
                                    </div>

                            </div>

                        </div>

                    <button type="submit" value="Submit" class="btn btn-success mt-2 mb-3 shadow pt-3 pb-3 pl-1 pr-1">Car Prediction</button>


            </form>

         </div>

    </div>


</div>



 
{% endblock content  %}