<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Dinga Verse Predictor</title>
  <meta name="title" content="Autofix - Auto Maintenance & Repair Service">
  <meta name="description" content="This is a vehicle repair html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Mulish&display=swap"
    rel="stylesheet">

  <!-- 
    - material icon font
  -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,600,0,0" />

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./static/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./static/images/hero-banner.png">
  <link rel="preload" as="image" href="./static/images/dingaVerse-bg.jpg">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" style="position: fixed; background-color: rgb(0, 128, 128);">
    <div class="container">

      <a href="#" class="logo">
        <img src="./static/images/dingaWorld2.png" width="128" height="63" alt="autofix home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#vehicles-for-sale" class="navbar-link">Cars for Sale</a>
          </li>

          <!-- ## check if user is a super user -->
          {% if user.is_superuser %}
            <li>
              <h1><a href="/admin" class="navbar-link" style="color: hsl(108, 89%, 45%);"><u>Admin</u></a></h1>
            </li>
            <li>
              <h1><a href="/enter_pages" class="navbar-link" style="color: hsl(108, 89%, 45%);"><u>Scrape Data</u></a></h1>
            </li>
            <li>
              <h1><a href="/train_model" class="navbar-link" style="color: hsl(108, 89%, 45%);"><u>Train Model</u></a></h1>
            </li>
          {% endif %}

        </ul>
      </nav>

      {% if user.is_authenticated %}
      <span class="navbar-link" class="navbar-text">Welcome, {{ user.username }} | </span>
      <li class="nav-item">
          <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="btn btn-primary" type="submit" style="background-color: rgb(54,69,79);">Log Out</button>
          </form>
          <!-- <a  method="post" action="{% url 'logout' %}" class="nav-link" href="logout" >Logout</a> -->
      </li>
      {% else %}
      <a href="/login" class="btn btn-primary" style="background-color: rgb(54,69,79);">
        <span class="span">Log In</span>

        <span class="material-symbols-rounded">arrow_forward</span>
      </a>

      {% endif %}

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="nav-toggle-icon icon-1"></span>
        <span class="nav-toggle-icon icon-2"></span>
        <span class="nav-toggle-icon icon-3"></span>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero has-bg-image" aria-label="home" style="background-color:rgb(247, 247, 247); height: auto; background-size: cover;">
        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle :dark" style="color: rgb(54, 69, 79); font-size: x-large;" >Your Price Predictor Partner!</p>

            <h1 class="h1 section-title" style="color: rgb(0, 128, 128)">Dinga World</h1>

            <p class="section-text" style="color: rgb(54, 69, 79);">
              Navigate the Kenyan Car Market with Confidence
            </p>
            
            {% if user.is_authenticated %}
            <a href="/car_details" class="btn" style="background-color: rgb(0, 128, 128);" >
              <span class="move-anim" class="span">Get Started</span>

              <span class="material-symbols-rounded">arrow_forward</span>
            </a>
            {% endif %}

          </div>

          <figure class="hero-banner" style="--width: 300; --height: 450;">
            <img src="./static/images/toyota_land_cruiser_prado.jpg"  alt="red motor vehicle"
              class="move-anim">
          </figure>

        </div>
      </section>


      <!-- 
        - #VEHICLES FOR SALE  
      -->
       

      <section id="vehicles-for-sale" class="section work" aria-labelledby="work-label" style="background-color:rgb(247, 247, 247); height: auto; background-size: cover; padding-top: 10%;">
          <div class="container">

            <h2 class="h2 section-title" style="color: rgb(0, 128, 128)">Vehicles for Sale</h2>
            <ul class="grid-container has-scrollbar">
              {% for car in car_details %}
                  <li class="scrollbar-item" style="box-shadow: 5px 5px 5px rgb(0, 128, 128);">
                      <div class="work-card">

                          <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                          <img src="{{ car.image_url }}" width="350" height="406" loading="lazy" alt="Vehicle Image"
                              class="img-cover">
                          </figure>

                          <div class="card-content">
                          <p class="card-subtitle">Price: {{ car.price }}Ksh</p>

                          <h3 class="h3 card-title">{{ car.make }} {{ car.model }}</h3>

                          <p class="card-subtitle">Mileage: {{ car.mileage }} Kms</p>
                          <p class="card-subtitle">YOM: {{ car.yom }}</p>

                          </div>
                      </div>
              {% endfor %}
            </ul>
          
          </div>
      </section>

  <!-- 
    - custom js link
  -->
  <script src="./static/js/script.js"></script>

</body>

</html>