

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Dinga Verse Predictor</title>
  <meta name="title" content="Autofix - Auto Maintenance & Repair Service">
  <meta name="description" content="This is a vehicle repair html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Mulish&display=swap"
    rel="stylesheet">

  <!-- 
    - material icon font
  -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,600,0,0" />

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./static/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./static/images/hero-banner.png">
  <link rel="preload" as="image" href="./static/images/dingaWorld2pg">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" style="position: fixed; background-color: rgb(0, 128, 128);">
    <div class="container">

      <a href="/home" class="logo">
        <img src="./static/images/dingaWorld2.png" width="128" height="63" alt="autofix home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="/home" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#sell-your-car" class="navbar-link">Sell Your Car</a>
          </li>


        </ul>
      </nav>

      {% if user.is_authenticated %}
      <span class="navbar-link" class="navbar-text">Welcome, {{ user.username }} | </span>
      <li class="nav-item">
          <form method="post" action="{% url 'car_details' %}">
              {% csrf_token %}
              <button class="btn btn-primary" type="submit" style="background-color: rgb(54,69,79);"><span class="material-symbols-rounded">arrow_back</span>Go Back</button>
          </form>
      </li>
      {% else %}
      <a href="/login" class="btn btn-primary">
        <span class="span">Log In</span>

        <span class="material-symbols-rounded">arrow_forward</span>
      </a>

      {% endif %}

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="nav-toggle-icon icon-1"></span>
        <span class="nav-toggle-icon icon-2"></span>
        <span class="nav-toggle-icon icon-3"></span>
      </button>

    </div>
  </header>

    
      <section class="section work" aria-labelledby="work-label" style="background-color:rgb(247, 247, 247); height: auto; background-size: cover; padding-top: 10%;">
        <div class="container">

          <p class="section-subtitle :light" id="work-label" style="font-size: xx-large;"> <u> Predicted Price: </u></p>
          <p class="section-subtitle :light" id="work-label" style="color:black; font-size: x-large; padding: 10px; padding-bottom: 20px;"> Ksh {{ string_predicted_price }}</p>

        {% if vehicle_images1 != None %}

          <h2 class="h2 section-title" style="color: rgb(0, 128, 128)">Similar Vehicles</h2>

          <ul class="has-scrollbar">
            {% if vehicle_images1 != None %}
            <li class="scrollbar-item" style="box-shadow: 5px 5px 5px rgb(0, 128, 128);">
              <div class="work-card">

                <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                  <img src="{{ vehicle_images1.image_url }}" width="350" height="406" loading="lazy" alt="Vehicle Image"
                    class="img-cover">
                </figure>

                <div class="card-content">
                  <p class="card-subtitle">Price: {{ vehicle_images1.price }} Ksh</p>

                  <h3 class="h3 card-title">{{ vehicle_images1.make }} {{ vehicle_images1.model }}</h3>

                  <p class="card-subtitle">Mileage: {{ vehicle_images1.mileage }} Kms</p>
                  <p class="card-subtitle">YOM: {{ vehicle_images1.yom }}</p>

                </div>

              </div>
            </li>
            {% endif %}
            {% if vehicle_images2 != None %}
            <li class="scrollbar-item" style="box-shadow: 5px 5px 5px rgb(0, 128, 128);">
              <div class="work-card">

                <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                  <img src="{{ vehicle_images2.image_url }}" width="350" height="406" loading="lazy" alt="Vehicle Image"
                    class="img-cover">
                </figure>

                <div class="card-content">
                  <p class="card-subtitle">Price: {{ vehicle_images2.price }} Ksh</p>

                  <h3 class="h3 card-title">{{ vehicle_images2.make }} {{ vehicle_images2.model }}</h3>

                  <p class="card-subtitle">Mileage: {{ vehicle_images2.mileage }} Kms</p>
                  <p class="card-subtitle">YOM: {{ vehicle_images2.yom }}</p>
                </div>

              </div>
            </li>
            {% endif %}
            {% if vehicle_images3 != None %}
            <li class="scrollbar-item" style="box-shadow: 5px 5px 5px rgb(0, 128, 128);">
              <div class="work-card">

                <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                  <img src="{{ vehicle_images3.image_url }}" width="350" height="406" loading="lazy" alt="Vehicle Image"
                    class="img-cover">
                </figure>

                <div class="card-content">
                  <p class="card-subtitle">Price: {{ vehicle_images3.price }} Ksh</p>

                  <h3 class="h3 card-title">{{ vehicle_images3.make }} {{ vehicle_images3.model }}</h3>

                  <p class="card-subtitle">Mileage: {{ vehicle_images3.mileage }} Kms</p>
                  <p class="card-subtitle">YOM: {{ vehicle_images3.yom }}</p>
                </div>

              </div>
            </li>
            {% endif %}

          </ul>
        
        {% else %}
            <hr>
            <h2 class="h2 section-title" style="padding-top: 10%;">No Similar {{car_make}} {{car_model}} Found</h2>
        {% endif %}


        </div>
      </section>


      <section id="sell-your-car" class="section work" aria-labelledby="work-label" style="background-color:rgb(247, 247, 247); height: auto; background-size: cover; padding-top: 10%;">
        <hr>
        <div class="container">
          <p class="h2 section-title" style="color: rgb(0, 128, 128);">Enter your Vehicle Details</p>

          <form method="POST" action="save_car" enctype="multipart/form-data" style="box-shadow: 2px 2px 40px rgb(0, 128, 128) inset; padding: 50px; width: 1140px;">
              {% csrf_token %}
              <div class="form-group">
                <div style="padding: 30px;">
                  <label for="make" style="color: black; font-size: larger; padding-right: 3px;">Make:</label>
                  <input type="text" name="make" id="make" class="form-control" placeholder="Make" value="{{ car_make }}" style="font-size: medium;" required>
                
                  <label for="model" style="color: black; font-size: larger; padding-left: 30px; padding-right: 3px;">Model:</label>
                  <input type="text" name="model" id="model" class="form-control" placeholder="Model" value="{{ car_model }}" style="font-size: medium;" required>
                  
                  <label for="year" style="color: black; font-size: larger; padding-left: 30px; padding-right: 3px;">Year:</label>
                  <input type="text" name="yom" id="yom" class="form-control" placeholder="Year" value="{{ car_age }}" style="font-size: medium;" required>
                  
                </div>
                <div style="padding: 30px;">
                  <label for="mileage" style="color: black; font-size: larger; padding-right: 3px;">Mileage:</label>
                  <input type="text" name="mileage" id="mileage" class="form-control" placeholder="Mileage" value="{{ car_mileage }}" style="font-size: medium;" required>
                  <label for="engine_size" style="color: black; font-size: larger; padding-left: 30px; padding-right: 3px;">Engine Size:</label>
                  <input type="text" name="engine_size" id="engine_size" class="form-control" placeholder="Engine_Size" value="{{ car_engine_size }}" style="font-size: medium;" required>
                  <label for="condition" style="color: black; font-size: larger; padding-left: 30px; padding-right: 3px;">Fuel Type:</label>
                  <select name="fuel_type" id="fuel_type" class="form-control" value="{{ car_fuel_type }}" style="font-size: medium;" required>
                      <option value="Petrol">Petrol</option>
                      <option value="Diesel">Diesel</option>
                  </select>
                </div>
                <div style="padding: 30px;">  
                  <label for="condition" style="color: black; font-size: larger; padding-right: 3px;">Transmission:</label>
                  <select name="transmission" id="transmission" class="form-control" value="{{ car_transmission }}" style="font-size: medium;" required>
                      <option value="Automatic">Automatic</option>
                      <option value="Manual">Manual</option>
                  </select>
                  <label for="price" style="color: black; font-size: larger; padding-left: 30px; padding-right: 3px;">Price:</label>
                  <input type="text" name="price" id="price" class="form-control" placeholder="Price" value="{{ predicted_Price }}" style="font-size: medium;" required>
                  <label for="image" style="color: black; font-size: larger; padding-left: 30px; padding-right: 3px;">Image:</label>
                  <input type="text" name="image_url" id="image_url" class="form-control" placeholder="paste image url" style="font-size: medium;">
                </div>
                <div style="padding: 30px;">  
                </div>
                  <button class="btn btn-primary" type="submit" style="background-color: rgb(54,69,79);">Sell Car<span class="material-symbols-rounded">arrow_forward</span></button>

              </div>
         </form>
        </div>
      </section>
    </article>
  </main>



  <!-- 
    - custom js link
  -->
  <script src="./static/js/script.js"></script>

</body>

</html>
