{% if vehicle_images1 == None %}
<h1 class='text-center mt-3'>No Similar Cars Found</h1>
{% else %}
{% include 'magariPredictor/similar_cars.html' %}
{% endif %}



    <!-- 
    - #WORK
    -->
    <hr style="padding-top: 4px; width:100%; size:20; color:rgb(7, 7, 7) noshade">
    <section class="section work" aria-labelledby="work-label">
    <div class="container">

            <h2 class="h2 section-title">Similar Vehicles</h2>

            <hr>

            <ul class="has-scrollbar">
            
            {% if vehicle_images1 != None %}
                <li class="scrollbar-item">
                    <div class="work-card">

                    <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                        <img src="{{ vehicle_images1.image_url }}" width="350" height="406" loading="lazy" alt="Engine Repair"
                        class="img-cover">
                    </figure>

                    <div class="card-content">
                        <h3 class="h3 card-title">Car Name</h3>

                        <p class="card-subtitle">Price: {{ vehicle_images1.price }}Ksh</p>
                        
                        <a href="#" class="card-btn">
                        <span class="material-symbols-rounded">arrow_forward</span>
                        </a>
                    </div>

                    </div>
                </li>
            {% endif %}
            {% if vehicle_images2 != None %}
            <li class="scrollbar-item">
                <div class="work-card">

                <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                    <img src="{{ vehicle_images2.image_url }}" width="350" height="406" loading="lazy" alt="Car Tyre change"
                    class="img-cover">
                </figure>

                <div class="card-content">
                    <h3 class="h3 card-title">{{ vehicle_images2.make }} {{ vehicle_images2.model }}</h3>

                    <p class="card-subtitle">Price: {{ vehicle_images2.price }}Ksh</p>

                    <a href="#" class="card-btn">
                    <span class="material-symbols-rounded">arrow_forward</span>
                    </a>
                </div>

                </div>
            </li>
            {% endif %}
            {% if vehicle_images3 != None %}

            <li class="scrollbar-item">
                <div class="work-card">

                <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
                    <img src="{{ vehicle_images3.image_url }}" width="350" height="406" loading="lazy" alt="Battery Adjust"
                    class="img-cover">
                </figure>

                <div class="card-content">
                    <h3 class="h3 card-title">Car Name</h3>

                    <p class="card-subtitle">Price: {{ vehicle_images3.price }}Ksh</p>

                    <a href="#" class="card-btn">
                    <span class="material-symbols-rounded">arrow_forward</span>
                    </a>
                </div>

                </div>
            </li>
            {% endif %}
            </ul>

    </div>
    </section>
</body>
